body {
    background-color: #2C2F33;
}

@media screen and (min-width: 959px) {
    #lenti {
        width: 100%;
        margin-top: -115px;
    }
    #pic1 {
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
        width: 550px;
        height: 550px;
        float: left;
        animation: fading 50s ease-in-out infinite;
        position: relative;
    }
    #pic2 {
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
        width: 550px;
        height: 550px;
        float: right;
        animation: fading 50s ease-in-out infinite;
        position: relative;
    }
    #myRange {
        display: block;
        margin: auto;
        margin-top: 75px;
    }
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 100px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;  
        -webkit-user-drag: none;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 50px;
        margin: 0px 25px;
    }
}
@media screen and (max-width: 959px) {
    #pic1 {
        display: none;
    }
    #pic2 {
        display: none;
    }
    #myRange {
        width: 250px;
        height: 20px;
        display: block;
        margin: auto;
        margin-top: 75px;
    }
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 60px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 50px;
        margin: 0px 25px;
    }
}
@media screen and (max-width: 500px) {
    #pic1 {
        display: none;
    }
    #pic2 {
        display: none;
    }
    #myRange {
        width: 200px;
        height: 15px;
        display: block;
        margin: auto;
        margin-top: 75px;
    }
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 40px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 35px;
        margin: 0px 25px;
    }
}

div {
    margin: auto;
    padding: 10px;
    text-align: center;
    bottom: 0px;
}
/* FECO */ 
#mostszol {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "DM Sans";
}

.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;              
    bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: 0;
    background: url("https://cdn.discordapp.com/attachments/703649334612328578/952588664158957678/fat4rider.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 45px;
    height: 45px;
    border: 0;
    background: url("https://cdn.discordapp.com/attachments/703649334612328578/952588664158957678/fat4rider.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.controls {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .2s;
}

.controls:hover {
    opacity: 1;
}

@keyframes floating {
    0% {
        top: 0px;
    }
    25% {
        top: 15px;
    }
    50%{
        top: -15px;
    }
    75%{
        top: 15px;
    }
    100% {
        top: -15px;
    }
}

@keyframes spin {
   to {
        transform: rotate(360deg);
        }
}

@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
