body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #0d1626;
    
  }  :after, :before {
        content: "";
        position:fixed;
        z-index: -2;
        top: 0;
        width: 100vw;  
        height: 100vh; 
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: bg 90s linear infinite;
        pointer-events: none;

    }

    :after {
        left: 15vw;
    }

    :before {
        pointer-events: none;
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    
    }

#start {
    animation: disappear 35s ease-in-out forwards; 
    -moz-animation: disappear 35s ease-in-out forwards;
    -webkit-animation: disappear 35s ease-in-out forwards;
}

#maindiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 100%;
    background-color: rgb(8, 8, 18);
    width: 50vw;
    height: 75vh;
    text-align: center;  
    border: 10px solid rgb(250, 0, 255);
    border-radius: 25px;
    position:relative;
    z-index: 999;
}

button {
    background-color: rgb(255, 255, 255); 
    color: black; 
    padding: 16px 32px;
    font-family: "DM Sans";
    font-size: 15px;
    cursor: pointer;
}



@media screen and (min-width: 959px) {

    #myRange {
        display: block;
        margin: auto;
        margin-top: 75px;
    }
    p {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
    }
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 100px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;  
        -webkit-user-drag: none;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 50px;
        margin: 0px 25px;
    }
}
@media screen and (max-width: 959px) {
  
    #myRange {
        width: 250px;
        height: 20px;
        display: block;
        margin: auto;
        margin-top: 75px;
    }

    p {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 50px;
    } 
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 60px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 50px;
        margin: 0px 25px;
    }
}
@media screen and (max-width: 500px) {
 
    #start {
        visibility: hidden;
    } 

    #myRange {
        width: 200px;
        height: 15px;
        display: block;
        margin: auto;
        margin-top: 75px;
    }
    p {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 10px;
    } 
    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 40px;
        position: relative;
        animation: floating 5s infinite ease-in-out alternate;
    }
    #icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        border-radius: 125px;
        user-select: none;
        animation: spin 5s infinite linear;
    }
    #control {
        padding-top: 50px;
    }
    #control img {
        width: 35px;
        margin: 0px 25px;
    }
}

div {
    margin: auto;
    padding: 10px;
    text-align: center;
    bottom: 0px;
}
/* FECO */ 
#mostszol {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "DM Sans";
}

.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;              
    bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: 0;
    background: url("https://cdn.discordapp.com/attachments/703649334612328578/952588664158957678/fat4rider.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 45px;
    height: 45px;
    border: 0;
    background: url("https://cdn.discordapp.com/attachments/703649334612328578/952588664158957678/fat4rider.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.controls {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .2s;
}

.controls:hover {
    opacity: 1;
}

@keyframes floating {
    0% {
        top: 0px;
    }
    25% {
        top: 15px;
    }
    50%{
        top: -15px;
    }
    75%{
        top: 15px;
    }
    100% {
        top: -15px;
    }
}

@keyframes spin {
   to {
        transform: rotate(360deg);
        }
}

@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        
        opacity: 0;
    }
}

@keyframes bg {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes theme {
    0% {
        background: #0d1626;
    }
    
    50% {
        background: #ff9819;
    }

    100% {
        background: #0d1626;
    }
}
